body{white-space:color:white;
	background-color: transparent;
	text-align: center;
	text-shadow: rgb(verdana);

	 
}
 
a h1{ 
	color: green; 
	font-family: verdana; 
	font-size: 200%; 
	align-content: center;
}

a p{
	color: white;
	font-family: courier;
	font-size: 100%
{ 




</html>






